@model IEnumerable<Webbprojekt_TE15C_1.Models.Product>

@{
    ViewBag.Title = "Start";
}
<title>Momento Viveri</title>


<div class="products">
    <input type="text" id="" search" name="search" placeholder="Skriv produktnamn..." />
    <input type="submit" value="Sök" />
    @foreach (var item in Model)
    {

        <a href="@Url.Action("Details", "Products", new { id = item.ID })"
           class="product">

            <img src="@Url.Content("~/Content/Images/" + item.Imagefile)" alt="Marble table"
                 class="img-responsive" />

            <h2>@item.Name</h2>
            <p>
                <span class="price">@item.Price kr</span>
                <span class="=" btn btn-success buy">
                    <span class="glyphicon glyphicon-shopping-cart"></span>
                    Köp
                </span>
            </p>
            <p class="desc">@item.Description</p>
        </a>
    }

    @using (Html.BeginForm("Index", "Products", FormMethod.Get))
    {

    }
</div>
