<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")



</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <img src="@Url.Content("~/Content/Images/logo.png")" alt="" class="logo">


        <div class="container">

            <div class="navbar-header">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Start", "Index", "Home")</li>
                    <li>@Html.ActionLink("Produkter", "Index", "Products")</li>
                    
                </ul>
                @Html.Partial("_LoginPartial")

                </div>

        </div>

</div>
    <div class="container body-content">

        @RenderBody()
    </div>

        <div class="footer">
            <footer>
                <div class="container-fluid">
                    <div class="col-md-3 Kund">
                        <h3>Kundservice</h3>
                        <ul>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Köpvillkor & Info</a></li>
                            <li><a href="#">Kontakta oss</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 Inc">
                        <h3>Företaget</h3>
                        <ul>
                            <li><a href="#">Jobba hos oss</a></li>
                            <li><a href="#">Formgivare</a></li>
                            <li><a href="#">Om oss</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 SMedia">
                        <h3>Sociala Medier</h3>
                        <ul>
                            <li><a><i class="fa fa-facebook-square fa-3x"></i></a></li>
                            <li><a><i class="fa fa-instagram fa-3x"></i></a></li>
                            <li><a><i class="fa fa-pinterest-square fa-3x"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 News">
                        <h3>Nyhetsbrev</h3>
                        <br />
                        <input placeholder="Example@mail.com" />
                        <button type="button" name="button">Skicka</button>
                    </div>
                </div>
            </footer>
        </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
